{% extends "base.html" %}

{% block content %}
    <h1>Blogz</h1>
    <form method='post'>
        <div class="blogEntry">
        <label>
            Post Title:
            <input type="text" name='title' value=''/>
        </label>
        </div>
        <div class="blogEntry">
        <label>
            Post Body:
            <input type="text" name='body' value=''/>
        </label>
        </div>
        <div class="blogEntry">
        <input type="submit" value='Add Post'/>
        </div>
    </form>  
{% endblock %}